name: PASSAGE                          # maps to VmasTask.SAMPLING
scenario_class: scenarios.four_flags.four_flags_scenario_gnn_train.FourFlagsScenario

params:
  # === Map & Layout ===
  x_semidim: 1.0
  y_semidim: 1.0
  n_passages: 4
  shared_reward: False
  agent_radius: 0.03333
  n_agents: 3
  passage_width: 0.2
  passage_length: 0.103
  switch_radius: 0.45
  flag_radius: 0.45
  chamber_width: 1.5
  break_all_wall: True
  comms_radius: ${four_flags.model.actor_model.edge_radius}

  # === Rewards ===
  shaping_factor: 100

  # === Dynamics ===
  use_velocity_controller: True
  use_kinematic_model: False
  agent_weight: 1.0
  agent_v_range: 1.0
  agent_a_range: 1.0
  min_collision_distance: 0.1
  linear_friction: 0.1

  # === Language ===
  embedding_size: 1024
  use_embedding_ratio: 1.0
  event_dim: 5
  state_dim: 8
  num_automata_bits: 2
  compute_shared_event: True
  data_json_path: "data/dataset_one_color_ALL.json"
  decoder_model_path: "sequence_models/four_flags/four_flags_decoder.pth"
  sequence_model_path: "sequence_models/four_flags/one_color.pth"
  policy_conf_dir: "../../conf"
  policy_conf_name: "config_state_two.yaml"
  policy_restore_path: "checkpoints/four_flags/one_color/policy.pt"


   # === Additional Scenario ===
  max_steps: 250